* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 25px;
}

body {
  font-size: 110%;
  line-height: 1.5;
}

h1 {
  font-size: 4em;
  text-align: center;
  color: #000080;
  text-decoration: underline;
  text-decoration-color: #ff3333;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin: 10px;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}

button:focus {
  outline: none;
}

footer {
  margin-top: 10px;
}

pre {
  border: 2px solid black;
  padding: 5px;
  background-color: #fff5e6;
  overflow-x: auto;
}

code {
  font-family: monospace;
}

.button-row {
  text-align: center;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.column > * {
  padding-right: 10px;
}

.player1 {
  color: #ff3333;
}

.player2 {
  color: #000080;
}

.player1-background {
  background-color: #ff3333;
  color: white;
}

.player2-background {
  background-color: #000080;
  color: white;
}

.center {
  text-align: center;
}

.error {
  font-weight: bold;
  color: red;
  text-align: center;
}

input[type='url'] {
  box-sizing: border-box;
  border: 1px solid black;
}

input[type='url']:focus {
  outline: none;
}
